EMQX_NODE_NAME=emqx@127.0.0.1
EMQX_HOST=127.0.0.1
EMQX_DASHBOARD__DEFAULT_USERNAME=admin
EMQX_DASHBOARD__DEFAULT_PASSWORD=replace-emqx-dashboard-password
EMQX_LISTENERS__TCP__DEFAULT__BIND=0.0.0.0:1883
EMQX_LISTENERS__SSL__DEFAULT__BIND=0.0.0.0:8883
EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__CERTFILE=/opt/pal4g/emqx/certs/fullchain.pem
EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__KEYFILE=/opt/pal4g/emqx/certs/privkey.pem
EMQX_LISTENERS__SSL__DEFAULT__SSL_OPTIONS__CACERTFILE=/opt/pal4g/emqx/certs/ca.pem
EMQX_AUTHORIZATION__NO_MATCH=deny
